<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    tools:ignore="ExtraText">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TITEMag"
        tools:targetApi="31">
        <activity
            android:name=".ForgotPassword"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PoemDocumentViewer"
            android:exported="false"
            android:parentActivityName=".ViewPoetry" />
        <activity
            android:name=".ViewPoetry"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".DocumentViewer"
            android:exported="true"
            android:parentActivityName=".ViewArticles" />
        <activity
            android:name=".ViewArticles"
            android:exported="true"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.Main" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ViewSketches"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ViewImages"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".UploadPoems"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Upload_Articles"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".UplaodSketches"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".UploadImage"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.MainActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>